* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: black;
}

.login-form-title {
  margin-bottom: 5px;
}

#div_login form div {
  margin-bottom: 5px;
}

#div_login {
  border: 1px solid black;
  width: 50%;
  padding: 20px;
}

.login-form-p-tag {
  color: #c1c2c2;
}

#div_login input {
  width: 100%;
  border-color: #c1c2c2;
  padding: 5px 0 5px 5px;
}

#div_login button {
  border: none;
  background-color: #ef3f5e;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
}

#div_login form {
  border-bottom: 1px solid black;
}

.login-form-title {
  margin-bottom: 5px;
}

#div_register form div {
  margin-bottom: 5px;
}

#div_register {
  border: 1px solid black;
  width: 50%;
  padding: 20px;
}

.register-form-p-tag {
  color: #c1c2c2;
  margin: 10px 0 10px 0;
}

#div_register input {
  width: 100%;
  border-color: #c1c2c2;
  padding: 5px 0 5px 5px;
}

#div_register button {
  border: none;
  background-color: #ef3f5e;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
}

#div_register form {
  border-bottom: 1px solid black;
}

.div-room-list-item {
  width: 33%;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.div-room-img {
  width: 100%;
  height: 100%;
}

.div-room-img-slide {
  position: relative;
  height: 70%;
}

.div-room-info {
  margin-left: 10px;
  height: 30%;
}

.img-room-img-slide-next {
  position: absolute;
  right: 0;
  top: 40%;
  bottom: 40%;
  width: 30px;
  height: 30px;
}

.button-room-img-slide-list {
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 30%;
  display: block;
  margin: auto;
  text-align: center;
}

.img-select-image-by-index {
  width: 10px;
  height: 10px;
}

.button-room-img-slide-list a {
  display: inline-block;
}
.p-room-location-ratting {
  display: flex;
  justify-content: space-between;
}
.p-room-location,
.p-room-ratting {
  margin-top: 10px;
}

.p-available-time {
  color: #c1c2c2;
  margin: 5px 0 5px 0;
}

.p-room-ratting {
  margin-right: 10px;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
}

#header_logo {
  width: 30%;
  margin: auto;
}

#header_logo_img_a {
  margin: auto;
  display: block;
  text-align: center;
}

.header-search {
  text-align: center;
  width: 30%;
  margin: auto;
}

#header_logo_img {
  width: 156px;
  height: 69px;
  margin: auto;
}

#header_search_form {
  position: relative;
}

#header_search_form_input {
  width: 80%;
  background: white;
  box-shadow: 0 0 5px hsl(0 0% 78%);
  height: 55px;
  border-radius: 100vw;
  font-size: 15px;
  padding: 15px;
}

#header_search_form_submit_button {
  position: absolute;
  top: 15%;
  right: 60px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

#header_search_form_submit_button_icon {
  width: 35px;
  height: 35px;
}

.header-login {
  width: 30%;
}

.header-login {
  text-align: center;
  margin: auto;
  position: relative;
}

#header_login_button {
  background: white;
  box-shadow: 0 0 5px hsl(0 0% 78%);
  height: 40px;
  width: 14%;
  border-radius: 100vw;
  padding: 0;
  font-size: 17px;
  cursor: pointer;
}

#header_login_msg {
  position: absolute;
  top: 0;
  left: 55%;
  height: 40px;
  text-align: center;
  padding: 10px;
  color: #fff7fb;
  background-color: #dc3546;
}
body {
  height: 1000px;
}
